.cardsDisplay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.playerOnTurnContainer {
    display: flex;
    justify-content: space-around;
}

.playerOnTurn {
    color: red;
}

/* Estilos Cartas sobre mesa */

.cardContainer {
    width: 15%;
    height: 200px;
    text-align: center;
    border: 1px solid black;
    position: relative;
}

.cardResources {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    height: 25%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    position: relative;
}

.iconContainer img {
    max-width: 80%;
    height: 80%;
}

.iconContainer p {
    font-weight:900;
    position: absolute;
    top: 10%;
    right: 110%;
    transform: translate(0, -50%);
    z-index: 10;
}



/* ------------------------------------ */


.discard {
    padding: .2rem;
    background-color: black;
    color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;

}

.take {
    padding: .2rem;
    background-color: black;
    color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;

}


.cientifico {
    background-color: green;
}

.materiales {
    background-color: rgb(128, 64, 0);
}

.comercio {
    background-color: yellow;
}

.civil {
    background-color: skyblue;
}

.militar {
    background-color: red;
}

.manufactura {
    background-color: rgb(179, 179, 179);
}