/* Estilos marcador de jugadors */

.playerOnTurnContainer {
    display: flex;
    justify-content: space-around;
}

.playerOnTurn {
    color: red;
}

.resourceContainer {
    display: flex;
    gap: 5px;
}

.resourceContainer p {
    padding: 5px;
    border: 1px solid black;
}

/* ------------------------------------ */




/* Estilos Cartas sobre mesa */

.cardsDisplay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.cardContainer {
    width: 12%;
    /* height: 200px; */
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.cardContainer .backImg {
    width: 100%;;
    max-height: 100%;
}

.cardResources {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    height: 25%;
}

.cardCost {
    padding: 5px;
    display: flex;
    gap: 2px;
}

 .cardCost .iconContainer {
    width: 25px;
    height: 25px;
}

.cardCost .iconContainer p {
    font-size: 1.2rem;
    top: -30%;
    right: 30%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    position: relative;
}


.iconContainer img {
    max-width: 80%;
    height: 80%;
}

.iconContainer p {
    font-weight:900;
    position: absolute;
    top: 10%;
    right: 110%;
    transform: translate(0, -50%);
    z-index: 10;
}

.cardNameContainer {
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 15%;
}

.notVisible {
    display: none;
}

.discard {
    padding: .2rem;
    background-color: black;
    color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;

}

.take {
    padding: .2rem;
    background-color: black;
    color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;

}


.cientifico {
    background-color: green;
}

.materiales {
    background-color: rgb(128, 64, 0);
}

.comercio {
    background-color: yellow;
}

.civil {
    background-color: skyblue;
}

.militar {
    background-color: red;
}

.manufactura {
    background-color: rgb(179, 179, 179);
}



/* ------------------------------------ */


