.cardsDisplay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.playerOnTurnContainer {
    display: flex;
    justify-content: space-around;
}

.playerOnTurn {
    color: red;
}

.card {
    width: 15%;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}